<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body * {
      padding-bottom: 10px;
    }
    hr {
      padding-bottom: 0;
    }
    table {
      width:500px;
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>ip tracker</h1>
  <a href="/home">Cargar nueva IP</a>
  <hr>
  <span th:if="${ipInfo != null}">
    <label>IP: </label>
    <span th:text="${ipInfo.ip}"></span> <br>
    <label>Pa&iacute;s: </label>
    <span th:text="${ipInfo.countryName}"></span><br>
    <label>Codigo Iso:</label>
    <span th:text="${ipInfo.isoCode}"></span><br>
    <label> Horario/s: </label>
    <ul style="margin: 0;list-style-type: none;" th:each="time: ${ipInfo.times}">
      <li th:text="${time}"></li>
    </ul>
    <label>Moneda/s: </label>
    <ul style="margin: 0;list-style-type: none;" th:each="cur: ${ipInfo.currencies}">
      <li th:text="${cur}"></li>
    </ul>
    <label>Distancia a BS AS: </label>
    <span th:text="${ipInfo.distance}"></span>
    <hr>
    <h2>Estadisticas</h2>
  </span>
  <span th:if="${ipInfo == null}">
    <h3>La ip no pertenece a ningún País</h3>
  </span>
  <div class="statistics"></div>
  <script type="text/javascript">

    const renderStatistics = async (response) => {
      const json = await response.json();
      const statistics = document.querySelector('.statistics');
      const html = `
         <table>
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Pa&iacute;s</th>
              <th>Distancia</th>
            </tr>
          </thead>
         <tbody>
                        <tr>
              <td>Cecano a BS AS</td>
              <td>${json.closestCountry?json.closestCountry.nativeName + ' ('+ json.closestCountry.name + ')': 'No hay data'}</td>
              <td>${json.closestCountry?json.closestCountry.parsedDistance: 'No hay data'}</td>
            </tr>
            <tr>
              <td>Lejano a BS AS</td>
              <td>${json.farthestCountry?json.farthestCountry.nativeName + ' ('+ json.farthestCountry.name + ')': 'No hay data'}</td>
              <td>${json.farthestCountry?json.farthestCountry.parsedDistance: 'No hay data'}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <label>Promedio de distancia de Buenos Aires: </label>
        <span><b>${json.averageDistance}</b></span>
      `;
      statistics.innerHTML = html;
    };

    fetch("/statistics").then( renderStatistics );

  </script>
</body>
</html>
